@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root {
  font-family: 'Gotham Rounded';
  font-size: 20px;
  color: var(--color-text-light);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
  font-family:"Gotham Rounded", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}

.error-message {
  color: hsl(var(--color-danger-hue), 100%, 50%);
}

.deleteBtn{
  background-color:#75d1ff;
border-radius:10px;
color:#002233;
font-family:'Gotham Rounded',sans-serif;
font-size:24px;
padding:10px 20px;
text-align:center;
background-color:#ffa375;
}

.deleteBtn:hover {
  color: var(--color-btn-primary-text-dark);
  background-color: red;
}
